* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
    margin: 30px;
    padding: 5px;
    font-size: 40px;
}

.main {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .calculatorform {
    width: 400px;
    height: 455px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 500;
    font-size: 25px;
}

.main .calculatorform div {
    width: 100%;
    height: calc(450px/6);
    display: flex;
    flex: 1;
}

.main .calculatorform div input {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 26px;
    border: 2px solid black;
    cursor: pointer;
    background-color: azure;
}

.main .calculatorform div input:hover {
    background-color: rgb(170, 236, 226);
}

.main .btn .clearbtn {
    background-color: lightgray;
}

.main .btn .clearbtn:hover {
    background-color: whitesmoke;
}